{% extends 'clean.html.twig' %}
{% block title %}
	A propos
{% endblock %}

{% block body %}
	<!-- Main Content-->
	<main class="mb-4">
		<div class="container px-4 px-lg-5">

			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<h1>Le concept "Book and Brunch" en quelques mots</h1>
					<hr>
					<p>Le Book and Brunch, c’est un club de lecture basé à Montréal depuis 2016, et Paris depuis 2017. C'est une plate-forme qui célèbre les auteurs afro-diasporique. Book and Brunch, c’est la volonté d’initier une conversation significative avec les lecteurs.</p>
					<p>Tous les derniers dimanches de chaque mois, nous vous proposons de nous réunir autour d’un livre et d’un délicieux brunch dans un espace intimiste. L’ouvrage choisi est annoncé un mois et demi en avance, afin que chacun puisse avoir le temps de l’acheter, l’emprunter, le télécharger et le lire à son rythme. Les ouvrages proposés couvrent tout type de courant littéraire, de l’autobiographie à la nouvelle, en passant par la fiction. Afin de proposer un choix toujours plus riche, les suggestions de chacun sont évidement les bienvenus.</p>

				</div>
			</div>
		</div>
	</main>

{% endblock %}
