{% extends 'admin/backoffice.html.twig' %}

{% block title %}Validation des commentaires
{% endblock %}

{% block body %}
	<main>
		<div class="container-fluid px-4">
			<h1 class="mt-4">Tables</h1>
			<ol class="breadcrumb mb-4">
				<li class="breadcrumb-item active">Tables</li>
			</ol>
			<div class="example-wrapper">
				<h1>Validation des commentaires</h1>
				{{ form(form) }}
				</div>
			</div>
		</main>
	{% endblock %}
